/* GLOBAL IMPORTS */
@import url(css/normalize.css);
* {
  box-sizing: border-box; }

p {
  margin-bottom: 4em; }

ul {
  list-style-type: none;
  padding: 0; }

/* TYPOGRAPHY */
.container {
  color: #5e5e5e;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 2em; }

.headline--secondary {
  font-weight: 100;
  padding-left: .5em; }

.headline--primary {
  color: #58e1c1;
  line-height: 1.1em;
  padding-left: .75em;
  padding-right: .75em; }

.link {
  color: #51DDFC;
  text-decoration: none; }

.blockquote {
  font-style: italic;
  font-size: 1.5em;
  border-left: 6px solid #58e1c1;
  border-radius: 5px 5px;
  border-bottom-left-radius: 5px;
  padding-left: 1em; }

.btn--default {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border: none;
  border-radius: 0.35em;
  background-color: #51DDFC;
  margin-top: 1.5em; }

.btn--success {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border: none;
  border-radius: 0.35em;
  background-color: #63cc82;
  margin-top: 1.5em; }

.btn--error {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border: none;
  border-radius: 0.35em;
  background-color: #e4757a;
  margin-top: 1.5em; }

.btn--warning {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border: none;
  border-radius: 0.35em;
  background-color: #fd7856;
  margin-top: 1.5em; }

.btn--info {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  color: white;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border: none;
  border-radius: 0.35em;
  background-color: #927bc1;
  margin-top: 1.5em; }

.form {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em; }

.form__input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  display: block;
  font-size: 16px;
  height: auto;
  margin: 0;
  margin-top: 1em;
  outline: 0;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  color: #8a97a0;
  margin-bottom: 22px;
  border-bottom: 6px solid #58e1c1;
  transition: all .25s ease-out; }

.form__label--hidden {
  display: none; }

.img--logo {
  width: 150px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 3em; }

.img--frame {
  width: 350px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 3em;
  padding: .75em;
  border: 1px solid #5e5e5e; }

.img--avatar {
  width: 175px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 3em; }

.nav {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 6em;
  text-align: center; }
  .nav .nav__item {
    display: flex;
    flex-direction: column; }
  .nav a {
    text-decoration: none;
    color: #5e5e5e;
    width: 100%;
    border-radius: 5px;
    padding: .75em; }
    .nav a:hover {
      background-color: #58e1c1;
      color: #fff; }

/*# sourceMappingURL=styles.css.map */
