// =========================================
//  MIXINS
// =========================================

// Center containers
@mixin center($w) {
  width: $w;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin img {
display: block;
text-align: center;
margin-top: 3em;
}

@mixin btn($bc) {
    @include center(100%);
    font-size: 1em;
    color: white;
    display: block;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75em 2em;
    border: none;
    border-radius: 0.35em;
    background-color: $bc;
    margin-top: 1.5em;
}
