// ==================
//   GRIDS
// ==================

.grid__col--8 {
  flex-grow: 2;
}

.grid__col--4 {
  flex-grow: 1;
}

.grid__col--9 {
  @mixin desktop-large {
    align-self: flex-start;
  }
}

.grid__col--12 {
  display: flex;
  flex-direction: column;
  flex: 0 per-line(5);
  justify-content: space-between;
  @include desktop {
   display: flex;
   flex-direction: row;
   flex: 1 per-line(5);
   padding-bottom: 2em;
   justify-content: space-between;
  }
}

.theme__colors {
  padding-left: 1em;
  padding-right: 1em;
}

.grid__col--12.theme__colors {
  @include grid(1, $color-col-12);
  justify-content: center;
  margin-bottom: 2em;
}

.grid__col--3.theme__colors {
  @include grid(4, $color-col-3);
  &:last-of-type {
    margin-bottom: 2em;
  }
}

.grid__col--4.theme__colors {
@include grid(3, $color-col-4);
  &:last-of-type {
    margin-bottom: 2em;
  }
}

.grid__col--5.theme__colors {
@include grid(3, $color-col-5)
}

.grid__col--7.theme__colors {
  @include grid(1, $color-col-7);
  &:last-of-type {
    margin-bottom: 2em;
  }
  @media (min-width: $break-m) {
    max-width: 60%;
  }
}

.grid__col--8.theme__colors {
@include grid(2, $color-col-8)
}

.grid__col--6.theme__colors {
  @include grid(2, $color-col-6);
}

.grid__col--6.theme__colors {
  &:last-of-type {
    margin-bottom: 2em;
  }
}

.grid__col--7.theme__colors.centered {
  @include grid(1, $color-col-7);
  @include desktop {
    max-width: 60%;
    margin: auto;
    margin-top: 5px;
  }
}

.card {
  @include desktop {
  padding-right: 4em;
  }
}

.grid__col--8 {
  @include desktop {
  max-width: 65%;
  }
}


.grid__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }
  }
