// ======================================
//  Navigation Styles
// ======================================


.nav {
  @include center(100%);
  margin-bottom: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  @media (min-width: $break-m) {
    flex-direction: row;
  }
  .nav__item {
    // margin-top: 3em;
    @include center(100%);
    // margin-bottom: 2em;
    // @media (min-width: $break-l) {
    //   flex-direction: row;
    // }
  }
  a {
    display: block;
    text-decoration: none;
    color: $color-text;
    width: 100%;
    border-radius: 5px;
    padding: .75em 1.5em;
    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }
}
