// //======================
    /* TYPOGRAPHY */
// //======================

.container {
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-stack-primary;
  font-weight: 300;
  margin: 2em 1em 2em;
  @mixin desktop-large {
    margin: 4em 6em;
  }
}

.headline--secondary {
  font-weight: 100;
  padding-left: .5em;
}

.headline--primary {
  color: $color-primary;
  line-height: 1.1em;
  padding-left: .75em;
  padding-right: .75em;
  padding-bottom: .5em;
}

.link {
  color: $color-secondary;
  text-decoration: none;
  font-weight: bold;
}

.blockquote {
  font-style: italic;
  font-size: 1.5em;
  border-left: 9px solid $color-primary;
  border-radius: 5px 5px;
  border-bottom-left-radius: 5px;
  padding-left: 1em;
  margin-bottom: 2.5em;
}

.card {
  padding-bottom: 2em;
}
